<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="border"></div>
</ion-header>

<ion-content>

  <div class="login">
    <strong>FORUM | Login</strong>
    <ion-item lines="none">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input class="input" placeholder="Email" type="email"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input class="input" placeholder="Password" [type]="showPassword ? 'text' : 'password'"></ion-input>
      <ion-icon [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
      <a href="">&nbsp;&nbsp;Forget password ?</a>
    </ion-item>
      <ion-button color="dark">Login</ion-button>
      <ion-button color="dark" fill="outline" routerLink='/signup'>Sign Up</ion-button>
  </div>

</ion-content>