:host {
  .border {
    display: block;
    height: 3.5px;
    width: 100%;
    position: absolute;
    background: linear-gradient(90deg, #42ca88 10.21%, #32dde8 23.26%, #f9d30d 51.47%, #ed8b30 79.67%, #834bde 91.041%);
  }

  .container {
    width: 100%;
    .content-img {
      img {
        width: 100%;
        max-height: 250px;
      }
    }
    .contents {
      width: 100%;
      padding: 15px;
      ion-item {
        ion-avatar {
          width: 50px;
          height: 50px;
        }
        ion-label {
          padding: 5px;
          margin-left: 5px;
          h2 {
            font-size: 1.3rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
      .comment {
        width: 100%;
        padding: 15px;
        font-size: 0.9rem;
        color: gray;
        display: flex;
        flex-direction: column;
        font-family: "Open Sans", sans-serif;
        strong {
          margin-top: 10px;
        }
      }
    }

    ion-toolbar{
      width: 100%;
      font-size: 1.3rem;
      padding-left: 20px;
      ion-icon {
        width: 8%;
        padding: 10px;
        margin: 5px;
        background-color: rgb(238, 238, 238);
        border-radius: 5px;
      }
      .like:hover{
        background-color: rgb(16, 153, 153);
        color: white;
      }
      .dislike:hover{
        background-color: #c20000;
        color: white;
      }
      ion-icon:hover {
        background-color: rgb(206, 206, 206);
        transition: 0.8s ease;
      }
    }

    ion-card {
      margin-bottom: 10px;
      border: 1px solid rgb(221, 221, 221);
      .contents {
        width: 100%;
        padding: 15px;
        ion-item {
          ion-avatar {
            width: 50px;
            height: 50px;
          }
          ion-label {
            padding: 5px;
            margin-left: 5px;
            h2 {
              font-size: 1.3rem;
            }
            p {
              font-size: 0.8rem;
            }
          }
        }
        .comment {
          width: 100%;
          padding: 15px;
          font-size: 0.8rem;
          color: gray;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    ion-footer {
      width: 100%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      ion-toolbar {
        padding-top: 5px;
        b {
          color: #45505b;
          font-size: 1.5rem;
        }
        p {
          color: gray;
        }
      }
      span {
        margin-top: 10px;
        font-size: 0.9rem;
        color: gray;
      }
    }
  }
}
